# binaries for programs and plugins
bin/
dist/
out/
*.exe
*.exe~
*.dll
*.so
*.dylib

# go workspace file
go.work
go.work.sum

# test binary, built with `go test -c`
*.test

# code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov
coverage.txt
coverage.html

# eitor/IDE
# .idea/
# .vscode/
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# env file
.env
.env.*.local

# generated code
**/api/generated/*.go
**/db/generated/*.go
